<p class="notice">
    <%= flash[:notice] %>
</p>

<h1 class="i-heading">Books</h1>

<table>

<thead>
    <th><p class= "i-title">Title</p></th>
    <th><p class= "i-body">Body</p></th>
</thead>

<tbody>
    <% @books.each do |book| %>
  <tr>
    <td><span><%= book.title %></span></td>
    <td><span><%= book.body %></span></td>
    <td><span><%= link_to "Show", book_path(book.id) %></span></td>
    <td><span><%= link_to "Edit", edit_book_path(book) %></span></td>
    <td><span><%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %></span></td>
  </tr>
    <% end %>
</tbody>

</table>



<h2 class="i-newbook">New book</h2>
 <% if @book.errors.any? %>
<div class="error">
 <h2 class="error-mes"><%= @book.errors.count %> errors prohibited this book from being saved:</h2>

 <ul>
     <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
     <% end %>
 </ul>
</div>
<% end %>

 <%= form_with model: @book do |f| %>
<div class="form-box">
 <div class="field">
  <label for="form-name">Title</label>
 </div>
 <div class="field">
  <div class="form"><%= f.text_field :title %></div>
 </div>
</div>

<div class="form-box">
 <div class="field">
  <label for="form-name">Body</label>
 </div>
 <div class="field">
  <div class="form"><%= f.text_area :body %></div>
 </div>
</div>

 <p><%= f.submit 'Create Book',class:"btn" %></p>
 <% end %>